<mat-toolbar class="tb-bg-color">
  <img src="../assets/ril.gif" class="tb-ril-logo" alt="logo">
  <span class="tb-platform">TABLE QUERY BUILDER</span>
</mat-toolbar>
<br>
<!-- <div class="container-fluid">
  <div class="row">
    <div class="col-sm-2">
      <div>
        <ul class="navbar-nav mr-auto">

          <li *ngFor="let db of databases" class="nav-item active">
            <a class="nav-link" href="#"><i class="fa fa-database" aria-hidden="true"></i>
              <span class="text">{{db}}</span>
            </a>
          </li>

          <li class="nav-item active">
            <a data-toggle="collapse" href="#multiCollapseExample1" aria-expanded="true" (click)="toggle(pass)"
              aria-controls="multiCollapseExample1"><i class="fa fa-database" aria-hidden="true"></i><i class="fa"
                [ngClass]="{'fa-minus fa-xs': visible, 'fa-plus fa-xs': !visible}" aria-hidden="true"></i>
              <span class="sb-text">POSTGRE SQL</span></a>
            <div class="collapse multi-collapse" id="multiCollapseExample1">
              <a href="#"><span class="sb-expansion-data"> DATABASE 1</span></a> <br>
              <a href="#"><span class="sb-expansion-data"> DATABASE 2</span></a> <br>
              <a href="#"><span class="sb-expansion-data"> DATABASE 3</span></a>
            </div>

          </li>

        </ul>
      </div>     


    </div>
    <div class="col-sm-10">
     
    </div>

  </div>
</div> -->

<mat-sidenav-container class="tp-container">
  <mat-sidenav mode="side" opened>
    <section class="tp-section">

      <ul class="navbar-nav mr-auto">
        <!-- <li *ngFor="let db of databases" class="nav-item active">
          <a class="nav-link" href="#"><i class="fa fa-database" aria-hidden="true"></i>
            <span class="text">{{db}}</span>
          </a>
        </li> -->

        <!-- <li class="nav-item active">
          <a data-toggle="collapse" href="#multiCollapseExample1" aria-expanded="true" (click)="toggle(pass)"
            aria-controls="multiCollapseExample1"><i class="fa fa-database" aria-hidden="true"></i><i class="fa"
            style="font-size: 10px; color: black"  [ngClass]="{'fa-minus fa-xs': visible, 'fa-plus fa-xs': !visible}" aria-hidden="true"></i>
            <span class="sb-text">POSTGRE SQL</span></a>
          <div class="collapse multi-collapse" id="multiCollapseExample1">
            <a href="#"><span class="sb-expansion-data"> DATABASE 1</span></a> <br>
            <a href="#"><span class="sb-expansion-data"> DATABASE 2</span></a> <br>
            <a href="#"><span class="sb-expansion-data"> DATABASE 3</span></a>
          </div>

        </li> -->
        <!-- <li class="nav-item active">
          <a data-toggle="collapse" href="#multiCollapseExample2" aria-expanded="true" (click)="toggleIcon()"
            aria-controls="multiCollapseExample1"><i class="fa fa-database" aria-hidden="true"></i>
            <mat-icon class="sb-plus-icon" style="font-size: 12px; color: black">{{icon}}</mat-icon>
            <span class="sb-text">ORACLE</span>
          </a>
          <div class="collapse multi-collapse" id="multiCollapseExample2">
            <a href="#"><span class="sb-expansion-data"> table 1</span></a> <br>
            <a href="#"><span class="sb-expansion-data"> table 2</span></a> <br>
            <a href="#"><span class="sb-expansion-data"> table 3</span></a>
          </div>

        </li> -->
        <div *ngFor="let db of databases" cdkDropList #todoList="cdkDropList" [cdkDropListData]="databases" [cdkDropListConnectedTo]="[doneList]"
      class="example-list" (cdkDropListDropped)="drop($event)">
      <a data-toggle="collapse" href="#multiCollapseExample2" aria-expanded="true" (click)="toggleIcon()"
            aria-controls="multiCollapseExample1"><i class="fa fa-database" aria-hidden="true"></i>
            <mat-icon class="sb-plus-icon" style="font-size: 12px; color: black">{{icon}}</mat-icon>
            <span class="sb-text">{{db.name}}</span>
          </a>
      <div class="example-box" *ngFor="let item of databases">
        <div  class="collapse multi-collapse" id="multiCollapseExample2" *ngFor="let i of item.tables" cdkDrag>
            <span class="sb-expansion-data"> {{i.name}}</span>
        </div>
      </div>
    </div>


        <!-- <li class="nav-item active" *ngFor="let db of databases">
          <a data-toggle="collapse" href="#multiCollapseExample2" aria-expanded="true" (click)="toggleIcon()"
            aria-controls="multiCollapseExample1"><i class="fa fa-database" aria-hidden="true"></i>
            <mat-icon class="sb-plus-icon" style="font-size: 12px; color: black">{{icon}}</mat-icon>
            <span class="sb-text">{{db.name}}</span>
          </a>

          <div class="collapse multi-collapse" id="multiCollapseExample2" *ngFor="let d of db.tables">
            <a href="#"><span class="sb-expansion-data"> {{d.name}}</span></a>
          </div>

        </li> -->
      </ul>
    </section>

  </mat-sidenav>
  <mat-sidenav-content>
    <!-- <div class="example-container">
      <h2>To do</h2>
    
      <div
        cdkDropList
        #todoList="cdkDropList"
        [cdkDropListData]="databases"
        [cdkDropListConnectedTo]="[doneList]"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of databases" cdkDrag>{{item.name}}</div>
      </div>
    </div> -->
    <div cdkDropList 
    #todoList="cdkDropList" 
    [cdkDropListData]="databases" 
    [cdkDropListConnectedTo]="[doneList]"
    class="example-list" 
    (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of databases">
        <div *ngFor="let i of item.tables" cdkDrag>
          {{i.name}}
        </div>
      </div>
    </div>
    <div class="example-container">
      <h2>Done</h2>

      <div cdkDropList 
      #doneList="cdkDropList" 
      [cdkDropListData]="done" 
      [cdkDropListConnectedTo]="[todoList]"
      class="example-list" 
      (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of done">
          <div *ngFor="let i of item.tables" cdkDrag>{{i.columns}}</div> 
        </div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>