<mat-toolbar class="tb-bg-color">
  <img src="../assets/ril.gif" class="tb-ril-logo" alt="logo">
  <span class="tb-platform">TABLE QUERY BUILDER</span>
</mat-toolbar>

<div class="container-fluid" style="background-color: #eee; height: 700px">
  <div class="row">
    <div class="col-sm-3">
      <div class="sb-box">
        <ul class="navbar-nav mr-auto">
          <li *ngFor="let db of databases" class="nav-item active">
            <a class="nav-link" href="#"><i class="fa fa-database" aria-hidden="true"></i>
              <span class="text1">{{db}}</span>
            </a>
          </li>

          <li class="nav-item active">
            <div cdkDropList  #todoList="cdkDropList" [cdkDropListData]="tables"
              [cdkDropListConnectedTo]="[doneList,container2List]" class="example-list1"
              >
              <a data-toggle="collapse" href="#multiCollapseExample1" aria-expanded="true" (click)="toggle(pass)"
                aria-controls="multiCollapseExample1"><i class="fa fa-database" aria-hidden="true"></i><i class="fa"
                  style="font-size: 10px; color: black"
                  [ngClass]="{'fa-minus fa-xs': visible, 'fa-plus fa-xs': !visible}" aria-hidden="true"></i>
                <span class="sb-text">MYSQL</span></a>
              <div class="collapse multi-collapse" id="multiCollapseExample1">
                <div class="example-box1" *ngFor="let item of tables" cdkDrag>
                  <span class="text">{{item.name}}</span>
                </div>

              </div>
            </div>
          </li>
        </ul>
      </div>
      <br>
      <button class="btn btn-primary">Add Table</button>
    </div>


    <div class="col-sm-9">
      <div class="body-box">
        <div class="example-container">

          <div cdkDropList  #doneList="cdkDropList" [cdkDropListData]="done" [cdkDropListConnectedTo]="[todoList]"
            class="example-list" (cdkDropListDropped)="drop($event)" cdkDragDisabled [cdkDropListDisabled]="show">
            <div class="example-box" *ngFor="let item of done">
              <h2>{{item.name}} </h2>
              <hr>
              <div class="example-box" *ngFor="let t of item.columns">{{t}}</div>
            </div>
          </div>
        </div>
       
        <div class="example-container">
          <div cdkDropList #container2List="cdkDropList" [cdkDropListData]="container2"
            [cdkDropListConnectedTo]="[todoList]" class="example-list" (cdkDropListDropped)="drop1($event)"
            cdkDragDisabled>
            <div class="example-box" *ngFor="let item of container2">
              <h2>{{item.name}}</h2>
              <hr>
              <div class="example-box" *ngFor="let c of item.columns">{{c}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>